* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgba(0, 0, 0, 0.88);
    animation: animation 2s linear both;
  }

  section {
    width: 550px;
    height: 250px;
    background-color: black;
    border: 5px solid whitesmoke;
    margin: 50px auto;
    color: white;
    transition: transform ease-in 0.3s;
  }

  section:hover {
    background-color: ivory;
    color: black;
    transform: scale(1.2);
  }

  .aboutme:hover .myoccupation::after {
    background: black;
  }

  .certificates:hover .courses::after {
    background: black;
  }

  .myname {
    font-size: 22px;
    text-align: center;
    padding: 7%;
  }

  .myoccupation {
    font-size: 18px;
    text-align: center;
  }

  .myoccupation::after {
    content: "";
    display: block;
    width: 220px;
    height: 2px;
    margin: 5px auto;
    background: cornsilk;
    transition: ease-in 0.75s;
  }

  .possibilities:hover .description{
    font-weight: 500;
  } 

  .description {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
  }

  .img {
    position: relative;
    transition: linear 2s 3s;
  }

  img {
    display: block;
    position: absolute;
    transform: scale(0.15);
    top: -180px;
    left: -185px;
  }

  span { 
    display: block;
  }

  .courses {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    line-height: 25px;
  }

  .certificates {
    line-height: 8px;
    text-align: center;
  }

  .courses::after {
    content: "";
    display: block;
    width: 220px;
    height: 2px;
    margin: 2.5px auto;
    background: cornsilk;
    transition: ease-in 0.75s;
  }

  .tech {
      line-height: 12px;
  }

  .aboutme {
    animation: move1 0.3s linear both; 
  }

  .possibilities {
    animation: move2 0.3s 0.45s linear both;
  }

  .certificates {
    animation: move1 0.3s 0.9s linear both;
  }

  .social {
    position: fixed;
    right: 5%;
    top: 5%;
    font-size: 35px;
    
  }

  a {
    color: white;

  }

  .iconfb, .iconig, .iconmail {
    padding: 10px 7px;
  }

  .iconfb {
    font-size: 30px;
    text-align: center;

  }

  @keyframes move1{
    0% {
     margin-left: -100%;
     opacity: 0;

    }

    55% {
    opacity: 0.2;
    }

    100% {
     
      opacity: 1;
    
    }
  }

  @keyframes move2 {
    0% {
     margin-right: -100%;
     opacity: 0;
    }
    55% {
        opacity: 0.2;
    }
   100% {

     opacity: 1;
   }
  }

  @media (max-width: 1000px) {
    section:hover {
      transform: scale(1.05);
    }
  }
  @media (max-width: 850px) {
      section {
          width: 350px;
          height: 150px;
         
      } 

      img {
        top: -215px;
        left: -280px;

      }

      .tech {
        line-height: 10px;
      }   
      .courses {
        padding-top: 13px;
      }
      .social {
        font-size: 25px;
        top: 5.5%;
    }

    section:hover {
        transform: scale(1.05);
      }

}
